Requirements Gathering:

For Knowledge Graphs:
Neo4j

For Tweet Extraction:
Python
Twint
PySpark

Platform:
Jupyter Notebook

Topic:
Understanding customer feedback through twitter data and knowledge graph to decide various strategies and changes a brand can make

The advantage of Twint is that you don’t need Twitter’s API to make TWINT work. -Twint utilizes Twitter’s search operators to let you :
-scrape Tweets from specific users
-scrape Tweets relating to certain topics
-hashtags & trends
-or sort out sensitive information from Tweets like e-mail and phone numbers.

Some of the benefits of using Twint :
-Can fetch almost all Tweets (Twitter API limits to last 3200 Tweets only);
-Fast initial setup;
-Can be used anonymously and without Twitter sign up;
-No rate limitations.
